
// * global styles


// * {pinned} misc
@use "lib/page";
@use "lib/reset";
@use "lib/theme/theme";

// * font
// ? https://fontsource.org/fonts/asap
@use "@fontsource/asap/variable.css"; // 25.6 kB
// @use "@fontsource/asap/variable-italic.css"; // 28.9 kB

// * normalize.css
// @use "@csstools/normalize.css";

// * sanitize.css
// ? https://github.com/csstools/sanitize.css
@use "sanitize.css";
@use "sanitize.css/forms.css";
@use "sanitize.css/assets.css";
@use "sanitize.css/typography.css";
@use "sanitize.css/reduce-motion.css";
@use "sanitize.css/system-ui.css";
@use "sanitize.css/ui-monospace.css";


// * {pinned}

html {
  --border-radius: .3em;
  
  // * typography
  font-family: "AsapVariable", sans-serif;
  
  // ** font-size
  // TODO curious to see how 12px looks on smartphone
  
  // ? 2k = normal text too big
  // font-size: max(12px, 62.5% + .6vw);
  
  // ? default texts size is the 1 a label or "weak-title" would have
  font-size: max(12px, 62.5% + .3vw);
  // ? default texts size is the same I would give a paragraph
  // font-size: max(12px, 50% + .3vw);
  // * END font-size
  
  // line-height: ;
  
  // * END typography
  
  
}

// structure
html {
  // height: 100%;
  body {
    // height: inherit;
    
    // display: flex;
    // flex-direction: column;
    
    .page {
      flex: 1;
    }
    
  }
}


// * tag

/* button {
  border: 0;
  border-radius: var(--border-radius);
  
  // background-color: var(--plt-1);
  color: var(--plt-1);
  
  font-weight: 500;
  
  &:disabled {
    opacity: 0.7;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
} */

h1 {
  font-size: 170%; // def 2em
}

input {
  border: 0;
  border-radius: var(--border-radius);
  min-width: 0;
  
  &:focus {
    // outline: 0;
  }
  &:hover {
    // background-color: ;
  }
}



// * class


// TODO make a "page" (name to decide) component and use that
// should be a good solution even for the usage I make in 
// the toast-handler

// ? centered column for content (name is a draft)
.page {
  @include page.ux-size(page.$pb);
}








