// Write your global styles here, in SCSS syntax

// * font
// ? https://fontsource.org/fonts/asap
@use "@fontsource/asap/variable.css"; // 25.6 kB
// @use "@fontsource/asap/variable-italic.css"; // 28.9 kB

// * normalize.css
// @use "@csstools/normalize.css";

// * sanitize.css
// ? https://github.com/csstools/sanitize.css
// BUG wasn't able to import in TS
// issue may be related to: 
// Vite
// SSR
// ? maybe importing in TS there gets done in parallel
// update: w/ @use the above may not be needed
@use "sanitize.css";
@use "sanitize.css/forms.css";
@use "sanitize.css/assets.css";
@use "sanitize.css/typography.css";
@use "sanitize.css/reduce-motion.css";
@use "sanitize.css/system-ui.css";
@use "sanitize.css/ui-monospace.css";


@mixin theme-dark {
  --plt-base: #131516;
  // --plt-1: ;
  // --plt-2: ;
  --plt-cover: #d8d4cf;
}
@mixin theme-light {
  --plt-base: #fff;
  // --plt-1: ;
  // --plt-2: ;
  --plt-cover: #222;
}
// #10EF8E verde
// #EF1071 fuxia


// {pinned}
html {
  // * {pinned} palette / theme
  /*
    The page supports both dark and light color schemes,
    and the page author prefers dark.
    https://web.dev/color-scheme/
    ? no firefox support
  */
  color-scheme: dark light;
  
  // @include theme-dark;
  @media (prefers-color-scheme: dark), 
  // ? very poor browser support
  (prefers-color-scheme: no-preference) {
    @include theme-dark;
  }
  // ? should be default when user doesn't set a theme, see mdn
  @media (prefers-color-scheme: light) {
    @include theme-light;
  }
  // =========================
  
  --border-radius: .3em;
  
  // * colors
  background-color: var(--plt-base);
  color: var(--plt-cover);
  
  // * typography
  font-family: "AsapVariable", sans-serif;
  
  // ** font-size
  // TODO curious to see how 12px looks on smartphone
  
  // ? 2k = normal text too big
  // font-size: max(12px, 62.5% + .6vw);
  
  // ? default texts size is the 1 a label or "weak-title" would have
  // font-size: max(12px, 62.5% + .3vw);
  // ? default texts size is the same I would give a paragraph
  font-size: max(12px, 50% + .3vw);
  // * END font-size
  
  // line-height: ;
  
  // * END typography
  
  
}


// * tag

button {
  border: 0;
  border-radius: var(--border-radius);
  
  font-weight: 500;
  
  cursor: pointer;
}

h1 {
  font-size: 170%; // def 2em
}

input {
  border: 0;
  border-radius: var(--border-radius);
  min-width: 0;
  
  &:focus {
    outline: 0;
  }
  &:hover {
    // background-color: ;
  }
}


// * class

// centered column for content (name is a draft)
.page {
  margin: 0 auto;
  
  $px: 20px;
  padding: 30px $px 50px;
  
  height: 100vh;
  
  // TODO 1st value is draft -> decide it
  // ? what if aspect-ratio isn't 16:9
  width: max(1280px + (#{$px} * 2), 85%);
  max-width: 100%;
}

.theme-dark {
  @include theme-dark;
}
.theme-light {
  @include theme-light;
}



